{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Entrainement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date Création</th>
                <th>Nom Utilisateur</th>
                <th>Role</th>
                <th>Groupe</th>
                <th>Categorie</th>
                <th>Groupe</th>
                
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.username ? user.username : '' }}</td>
                <td>{{ user.role ? user.role : '' }}</td>
                <td>{{ user.genre ? user.genre : '' }}</td>
                <td>{{ user.blason ? user.blason : '' }}</td>
                <td>{{ user.groupe.id ? user.groupe.nom : '' }}</td>
                <td>{{ user.arme.id ? user.arme.arme : '' }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'entrainements</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entrainement_new') }}">Créer un leçon</a>
{% endblock %}