<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ path('news') }}">CEA-CEMVS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path ('news')}}">Acceuil </a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="{{ path('app_entrainement_datecalendarentrainement')}}">Entrainements</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="{{ path('app_competition_datecalendarcompetition')}}">Competitions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('groupe_index')}}">Groupes</a>
      </li>
       {#
      <li class="nav-item">
        <a class="nav-link" href="#">Leçons</a>
      </li>
     {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('user_arme_index')}}">Armes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('users_index')}}">Utilisateurs</a>
      </li>
     {% endif %}
    </ul>#}
    {% if app.user %}
        <a href="{{path('app_security_logout')}}" type="button" class="btn btn-danger">Déconnexion <i class="fas fa-power-off" ></i></a>
      {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('inscription')}}" type="button" class="btn btn-success">Inscription <i class="fas fa-sign-in-alt"></i></a>
      {% endif %}        
    {% else %}
        <a href="{{path('app_security_connexion')}}" type="button" class="btn btn-success">Connexion <i class="fas fa-sign-in-alt"></i></a>
    {% endif %}

  </div>
</nav>