{% extends 'base.html.twig' %}

{% block title %}
Profils
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
				<th>Login</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Role</th>
				<th>Categorie</th>
				<th>Groupe</th>
            </tr>
            </thead>
            <tbody>
            {% set token = csrf_token('ENTRAINEMENT_DELETE') %}
            {% for Profil in Profils %}
            	{% if is_granted('ROLE_ADMIN') 
            	or ( Profil.role == 1 and is_granted('ROLE_MA')) 
            	%}                    
                <tr>
                    <td><a href="{{ path('app_profil_profilsvue',{id:Profil.id}) }}">{{ Profil.id }}</a></td>
					<td>{{ Profil.login }}</td>
					<td>{{ Profil.nom }}</td>
					<td>{{ Profil.prenom }}</td>
					{% if Profil.role == 1 %}<td>Tireur</td>{% endif %}
					{% if Profil.role == 2 %}<td>Maitre d'arme</td>{% endif %}
					{% if Profil.role == 3 %}<td>Admin</td>{% endif %}
					<td>{{ Profil.profilCategorie }}</td>
					<td>{{ Profil.tireurGroupe }}</td>

					{#% if is_granted('ROLE_ADMIN') %}
						<td><a class="btn btn-danger" href="{{ path('deleteEntrainement',{id:Entrainement.id,token:token, saison:saison}) }}">Supprimer</a></td>
                    {% endif %}
					{% if is_granted('ROLE_TIREUR') and app.user not in Entrainement.tireurProfilUsers %}
						<td><a class="btn btn-success" href="{{ path('sinsrireEntrainement',{id:Entrainement.id,token:token2, saison:saison}) }}">S'inscrire</a></td>
					{% endif %#}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}