{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div>{{form_row(form.login)}}</div>
    <div>{{form_row(form.rawpassword)}}</div>
    <div>{{form_row(form.nom)}}</div>
    <div>{{form_row(form.prenom)}}</div>
    <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}

{% endblock %}

